body, html {
    height: 100%;
    background-color: black;
}

h1 {
    color: white;
}

.project-card {
    margin: 10px 50px 50px 50px;
    max-width: 28rem; 
    min-height: 15rem;
    color: white;
    transition: all 0.2s ease-in-out;
}

.project-card:hover {
    opacity: 0.75;
}

.more-project-body {
    position: absolute;
    left: 38%;
    top: 45%;
}

.separator {
    height: 2px;
    width: 100%;
    background-color: white;
}

.profile-photo {
    width: 210px;
    height: 200px;
    border-radius: 1000px;
}

a, a:hover {
    margin: 10px;
    color: white;
    text-decoration: none;
}

.tech-logo {
    margin-left: 15px;
    width: 25px;
    height: 25px
}

.more-project-text:hover {
    text-decoration: underline;
}

.display-5 {
    font-size: 1.0rem;
    font-weight: 500;
}